.table__title {
  color: rgb(181, 181, 195);
  font-family: Mulish;
  font-size: 15px;
  font-weight: 700;
  line-height: 72%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.tables{
    margin-top: 30px;
}